keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1 3

# All this to add these lines
{% for block in chrony_allow %}
allow {{ block }}
{% endfor %}
{% for server in chrony_server %}
server {{ server }} iburst
{% endfor %}
{% for pool in chrony_pool %}
pool {{ pool }} iburst maxsources {{ chrony_maxsources }}
{% endfor %}
